wget
asyncio
pyrogram==1.0.1
yt-dlp==2021.10.10
youtube-dl==2021.6.6
ffmpeg-python==0.2.0
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy==1.3.23
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
ffmpeg-python==0.2.0
tenacity
html5lib
lk21
beautifulsoup4
requests
tqdm